<header class="d-flex" style="background-color: var(--bg-main-color);">
    <div class="container">
        <div class="nav d-flex">
            <a href="#"><img src="../assets/images/logo-white.png" alt="glasses store logo" width="80px"></a>
            <ul class="nav-list d-flex">
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
        </div>
    </div>

</header>