<link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<header class="d-flex" style="background-color: var(--bg-main-color);">
    <div class="container">
        <div class="nav d-flex">
            <a href="../pages/index.html"><img src="../assets/images/logo-white.png" alt="glasses store logo"
                    width="80px"></a>
            <ul class="nav-list d-flex">
                <li><a href="../pages/glasses.html">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>